html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background: #f0f0f0
}
.window_boundingBox {
    position: fixed;
    border: 1px solid #ccc;
    font-size: 22px;
    background: #fff;
    box-shadow: 1px 0 5px #ccc
}
.window-header{
    height: 35px;
    line-height: 1.5;
    color: #fff;
    text-indent: 1em;
    background: #444;
}
.window-body{
    padding: 10px;
}
.window_boundingBox .btn{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -40px;
	width: 80px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.window_closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}
.window_closeBtn:hover{
    background: #f60
}