html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 20px
}
.window_mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5)
}
.window_boundingBox {
    position: absolute;
    z-index: 2;
    font-size: 22px;
    background: #fff;
    box-shadow: 1px 1px 5px #333
}
.window-header{
    height: 35px;
    line-height: 1.5;
    color: #fff;
    text-indent: 1em;
    background: #444;
}
.window-body{
    padding: 20px 
}
.window_promptInputWrapper{
    text-align: center
}
input{
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px
}
.window-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center
}
.window-footer button{
    margin: 0 10px
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.window_closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}
.window_closeBtn:hover{
    background: #f60
}
/* blue skin*/
.blue_window .window-header, 
.blue_window .btn{
    background: #008CDC
}
.blue_window .window_closeBtn:hover{
    background: #444
}
.blue_window .btn {
    background: #008CDC;
    color: #fff;
}